/* FUENTES */

@font-face {
  font-family: Arista;
  src: url('arista.ttf');
}

@font-face {
  font-family: Coveltica;
  src: url('coolvetica rg.ttf');
}

/* BODY */

html, body {
  font-family: Montserrat, sans-serif;
  background-color: #FFF2DF;
  height: 100%;
}

/* FOOTER */

footer {
  border-radius: 10px;
  width: 100%;
  margin: 0px;
  line-height: 3;
  position: relative;
  bottom: 0;
  background-color: rgb(51, 51, 51);
  margin-bottom: 5px;
  font-size: 1em;
  text-transform: uppercase;
  overflow: hidden;
  font-family: Coveltica;
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
  color:#dddddd;
  margin: 5%;
}

footer span {
  font-size: 1.2em;
  margin: 5px;
}

footer div {
  text-align: center;
}

/* TABLA HEADER */

header {
  display: table;
  width: 100%;
  max-height: 15%;
  text-align: center;
  overflow: hidden;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 33.3%;
  border: transparent;
  vertical-align: middle;
}

.cell h1 {
  font-family: Arista;
  font-size: 4.5em;
  color: palevioletred;
}

.cell .title {
  display: inline;
  color: purple;
}

.searchText {
  display: block;
  color: purple;
  font-weight: bold;
  margin-left: 20px;
  padding: 10px;
}

.search {
  border-radius: 30px;
  height: 30px;
  width: 180px;
}

.lupa {
  margin: 10px;
  cursor: pointer;
}

.lupa:hover {
  font-size: 1.2em;
}

@keyframes rotar{
  0%, 100% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg)
  }
  50% {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

.imgLogo {
  height: 120px;
  -webkit-animation: rotar 10s infinite ;
  -moz-animation: rotar 10s infinite ;
  animation: rotar 10s infinite ;
}

.search:hover {
  border: 2px solid green;
  text-shadow: 4px 4px 4px gray;
}

.search:focus {
  border: 2px solid purple;
  text-shadow: 4px 4px 4px gray;
  outline: 0 none;
}

.search {
  border: 0;
  -webkit-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 11px -6px rgba(0,0,0,0.75);
}

/* CONTENIDO INDEX */

.table {
  display: table;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 66%;
  width: 100%;
  font-family: Coveltica;
}

.table .container {
  display: table-row;
  margin: 5px;
}

/* ASIDE */

aside > * {
  float: left;
}

aside {
  vertical-align: top;
}

.table .container aside {
  display: table-cell;
  background-color: rgb(150, 150, 150);
  border-radius: 10px;
  color: #440028;
  padding: 3%;
  width: 260px;
  font-size: 1em;
}

aside ul li {
  list-style: none;
  font-size: 2em;
  text-transform: uppercase;
}

aside ol li {
  list-style-image: url('./../img/vinyeta.png');
  padding: 3px;
  font-size: 1em;
  text-transform: uppercase;
}

aside .imgExp {
  padding-top: 10%;
  overflow: hidden;
  text-align: center;
}

aside .imgExp img {
  width: 200px;
  border-radius: 20px;
}

aside .imgExp img:hover {
  filter: grayscale(100%);
}

aside .imgExp img:hover {
  transition:all 1s ease-in-out;
}

.avalado {
  margin-top: 15%;
  text-align: center;
}

.avalado img {
  width: 200px;
}

.avalado img:hover {
  width: 220px;
  cursor: pointer;
}

.avalado img {
  -moz-transition: width 0.25s linear;
  -webkit-transition: width 0.25s linear;
  transition: width 0.25s linear;
}

/* MAIN */

main {
  margin: auto;
  color: purple;
}

main .oferta {
  font-family: Coveltica;
  margin: 0 auto;
  box-sizing: border-box;
  text-transform: capitalize;
  font-size: 2.8em;
  color: #4300d8;
  background-color: rgb(255, 153, 153);
  border-radius: 25px;
  padding: 2%;
  width: 740px;
  margin-top: 10%;
  position: relative;
  z-index: 999;
}

main .oferta:hover {
  width: 620px;
  font-size: 2.3em;
  cursor: pointer;
  color: rgb(228, 53, 0);
}

main .oferta {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.textoColumna {
  column-count: 3;
  column-width: auto;
  text-align: justify;
  column-gap: 3em;
  margin: 5%;
}

p.capital::first-letter {
  float: left;
  font-size: 60px;
  margin: 10px;
  padding: 0;  
}

.textoColumna h3 {
  column-span: all;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  color: purple;
}

.museo:hover {
  opacity: 0.7;
  cursor: pointer;
}
.museo {
  margin-top: 10px;
  border-radius: 15px;
  max-width: 320px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out; 
}

.tienda {
  text-align: center;
  color: #4300d8;
}

.tienda h2 {
  cursor: pointer;
}

/* POR FOTOS */

.cardContainer {
  display: inline-block;
  align-items: middle;
  margin-left: 10%;
  margin-right: 5%;
}

.cardContainer .card {
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 280px;
  margin: 10px;
  padding-bottom: 3%;
  border-radius: 20px;
  color: purple;
}

.cardContainer .card .image {
  width: 280px;
  height: 300px;
  overflow: hidden;
}

.cardContainer .card .image img {
  border-radius: 20px;
  height: 300px;
}

.cardContainer .card .image img:hover {
  transform: scale(1.1);
}

.cardContainer .card .image img {
  transition: all 0.5s ease-in-out;
}

.cardContainer .card:hover {
  box-shadow: 3px 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.cardContainer .card .container * {
  padding: 2px 16px;
  margin: 10px;
}

.cardContainer .card .container em {
  font-size: 2em;
}

.cardContainer .card .container h4 {
  font-size: 1.8em;
}

.cardContainer .card .container a {
  background-color: red;
  color: white;
  padding: 2%;
  border-radius: 5px;
}

.cardContainer .card .estrellas i {
  color: goldenrod;
  margin: -17px;
}

/* DETALLES DE UN ZAPATO */

 .detail {
  display: grid;
  grid-template-areas: 'cell1 cell2';
  grid-template-columns: 550px auto;
  margin: 10px;
  padding-bottom: 3%;
  border-radius: 20px;
  color: purple;
  margin-left: 5%;
  margin-top: 2%;
}

.detail .image {
  grid-area: cell1;
  height: 500px;
  width: 500px;
  
}

.detail img {
  border-radius: 20px;
}

.detail .container {
  grid-area: cell2;
  text-align: left;
  margin-left: 60px;
  margin-top: -10px;
}

.detail .container .estrellas {
  color: goldenrod;
}

.detail .container em {
  font-size: 2em;
}

.detail .container h3 {
  font-size: 1.8em;
}

.detail .container a {
  padding: 6px;
  color: white;
  background-color: green;
  border-radius: 8px;
  cursor: pointer;
}

.detail .container .comment {
  padding-top: 3%;
}

/*  TABLA DE PEDIDOS  */

main.order {
  text-align: left;
  color: purple;
}

.cardContainer .table {
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  align-content: middle;
  width: auto;
}

.cardContainer .table .header {
  display: table-row;
  font-weight: bold;
}

.cardContainer .table .tableBody {
  display: table-row;
}

.cardContainer .table .totales {
  display: table-row;
  font-weight: bold;
  color: green;
}

.cardContainer .table .cell {
  display: cell;
  border: 2px transparent black;
  padding: 1%;
  width: auto;
  empty-cells: hide;
}

.cardContainer .table .cell img {
  height: 50px;
}

main.order a.pedido {
  background-color: red;
  color: #FFF;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

main.order .button {
  text-align: right;
}

main.order .check {
  text-align: right;
  padding-bottom: 2%;
}

/* CONTACTANOS */

div.form-group {
  display: grid;
  grid-template-areas: 'center';
  width: 300px;
  margin: 0 auto;
}

div.form-group .form {
  grid-area: 'center';
  margin-top: 9%;
}

div.form-group .form textarea:hover,
div.form-group .form input:hover {
  box-shadow: 0 0 10px red;
}

div.form-group .form textarea:focus,
div.form-group .form input:focus {
  box-shadow: 0 0 10px rgb(0, 255, 21);
}

div.form-group .form textarea,
div.form-group .form input {
  transition: all 0.25s linear;
}

div.form-group .form * {
  margin: 2%;
  resize: none;
  border: 2px blue;
  outline: 0 none;
}

div.form-group .form input.ciudad,
div.form-group .form input.email,
div.form-group .form input.nombre {
  border-radius: 20px;
  height: 20px;
  width: 180px;
}

div.form-group .form textarea {
  border-radius: 10px;
}

.botonForm {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

/* POR TIPOS */

.cardTipes {
  display: inline;
  align-items: middle;
  margin-left: 10%;
  margin-right: 5%;
}

.cardTipes .card {
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 10px;
  padding-bottom: 3%;
  border-radius: 20px;
  color: purple;
}

.cardTipes .card .image {
  display: inline-block;
  width: auto;
  height: 150px;
  margin: 3%;
  overflow: hidden;
}

.cardTipes .card .image img {
  border-radius: 20px;
  height: 150px;
}

.cardTipes .card .image img:hover {
  transform: scale(1.1);
}

.cardTipes .card .image img {
  transition: all 0.5s ease-in-out;
}

.cardTipes .card:hover {
  box-shadow: 3px 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.cardTipes .card .container {
  display: inline-block;
  position: absolute;
  width: 60%;
}

.cardTipes .card .container * {
  padding: 2px 16px;
  margin: 10px;
}

.cardTipes .card .container em {
  font-size: 2em;
}

.cardTipes .card .container h4 {
  font-size: 1.8em;
}

.cardTipes .card .container a {
  background-color: red;
  color: white;
  padding: 2%;
  border-radius: 5px;
}

.cardTipes .card div.comprar {
  display: block;
  position: absolute;
  top: 20px;
  right: 0px;
  text-align: right;
  margin: 5%;
  width: 50%;
}

.cardTipes .container .estrellas i {
  color: goldenrod;
  margin: -17px;
  padding: -17px;
}

/* AVISO LEGAL */

.aviso .row {
  grid-area: 'row';
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 10%;
}

.aviso .columna1 {
  grid-area: 'columna1';
  margin: 10%;
}

.aviso .columna2 {
  grid-area: 'columna2';
  margin: 2%;
  font-size: 1.2em;
}

.aviso .columna1 p::first-letter {
  float: left;
  font-size: 3em;
}

.aviso .columna1 h2 {
  text-align: center;
}

.aviso {
  display: grid;
  grid-template-areas:
  'columna1 columna2'
  'row row';
  grid-template-columns: 40% auto;
  grid-template-rows: auto;
}

.aviso .columna2 .lista {
  display: inline-block;
}

.aviso .columna2 .lista-aparte {
  display: inline-block;
  position: absolute;
  margin: 1.5%;
}

.aviso .columna2 ol li a {
  text-decoration: none;
  color: rgb(14, 114, 5);
  transition: all 0.15s linear;
}

.aviso .columna2 ol li a:hover {
  color: rgb(68, 206, 55);
  font-size: 1.25em;
}

.aviso .columna2 ul li {
  list-style: none;
  margin: 2%;
}

.aviso .columna2 ul li i {
  margin-right: 3%;
}